/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*
--------------------------------------------------------------------------------
bennylope.github.com specific CSS
--------------------------------------------------------------------------------
*/

html {
  font-size: 18px;
/*background-color: #666;*/
  background: url("images/nz.jpg") no-repeat fixed white;
}

body {
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.7);
    max-width: 1024px;
    font-family: Helvetica;
}

/* ------------- headers ------------- */


h1 {
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 1.3em;
  /*border-bottom: 1px #D53C2E solid;*/
  /*color: #D53C2E;*/
  color: #999;
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 0.5em;
  font-family: Georgia;
}

h3 {
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  margin-top: 1.0em;
  margin-bottom: 0.5em;
  color: #666;
  /*color: #D53C2E;*/
}

html#index h1 {
  color: black;
  font-size: 5em;
  font-family: Georgia;
  margin-bottom: 0.5em;
}
/* ------------- el texto ------------- */

section {
  margin-bottom: 50px;
}

blockquote {
  margin: 20px;
  font-style: italic;
  font-family: Georgia, Times New Roman, Times, serif;
  line-height: 24px;
  color: #666;
  background-color: white;
  padding: 24px 20px 30px 20px;
  border-radius: 15px;
  margin: 28px 0px 0px 10px; 
}

article ol, article ul {
  margin: 10px 10px 20px 30px;
}

article li {
  list-style: disc;
}

article ol, article ol li {
  list-style: decimal;
}

p {
  font-size: 1.0em;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

a.ilvrgsyngr {
  background-color: #ccf;
}

ul.li-bullets {
  list-style: none;
}
ul.li-bullets li {
  margin: 5px 5px 15px 5px;
}

/* ------------- navigation ------------- */

nav#identities {
  display: block;
  margin-top: 20px;
  font-family: Helvetica, Arial;
  font-size: 14px;
}

nav#identities ul {
  list-style: none;
  display: inline;
  margin: 0px;
}

nav#identities ul li {
  list-style: none;
  /*float: left;*/
  display: inline;
  line-height: 36px;
  margin: 5px;
  padding: 5px;
  background-color: #ff8a00;
  color: white;
  border-radius: 5px;
}

nav#identities a, nav#identities a:hover, nav#identities a:visited {
  color: white;
}

p.homeLink  {
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 1.5em;
}

/* ------------- links ------------- */

a {
  text-decoration: none;
  padding: 0.2em;
  color: #d53c2e;
}
a:hover {
  text-decoration: underline;
}
header a {
  color: #999;
}

p.homeLink a {
  color: #999;
  font-size: 1em;
}
/* ------------- footer ------------- */

footer {
  display: block;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

footer p {
  font-family: Helvetica, Arial;
  font-size: 14px;
  margin-top: 20px;
  color: #ccc;
}


