---
published: true
layout: home
pageid: index
---
    <header class="intro">
    <h1>{{ site.title }}</h1>
    </header>

    <section class="intro">
      <blockquote>As per the latest in thought leadership, we must refocus on identifying holistic synergies
        and productizing them for untapped markets. Specifically, synergies which can be strategically 
        leveraged to cross-pollinate innovation across organizational silos. Each silo must 
        own its vertical to allow for unfettered horizontal growth and for the development of streamlined 
        efficiencies by bubbling up organically.<br /><br />The Zen of Business Jargon</blockquote>
    </section>

<div class="row">

    <div class="col-sm-6">

    <section class="articles">
    <h2>Recent Articles</h2>
      {% for post in site.posts %}
        {% if forloop.index < 4 %}
          <h3><a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a></h3>
          <p class="teaser">{{ post.teaser }}</p>
        {% endif %}
      {% endfor %}
      <p><a href="/posts/">Learn more in my other {{ site.posts | size | minus:3 }} posts &raquo;</a></p>
    </section>
        </div>


    <div class="col-sm-6">
    <section class="projects">
    <h2>Projects</h2>
    <dl>
      {% for project in site.data.projects %}
          <dt>
              <a href="{{ project.url }}">{{ project.name }}</a>
              {% if project.button %}
                <iframe src="{{ project.button }}"
                    allowtransparency="true" frameborder="0" scrolling="0"
                    width="104" height="20"></iframe>
              {% endif %}
          </dt>
        <dd>
          {{ project.summary }}
        </dd>
      {% endfor %}
    </dl>
    </section>
    </div>

    </div>

<section class="awesome">
    <h2>Stickers</h2>
    <p>I designed these just for you. Express your love for Python and impress your parents at the same time.</p>
    <div style="position: relative; max-width: 320px; display: inline-block">
        <div style="padding: 30px 0px 0px 0px;display: table;background-color: #fff;border-top-right-radius: 4px;border-top-left-radius: 4px;text-align: center;position: relative;min-height: 58px;width: 100%;">
            <div style="display: table-cell;vertical-align: middle;"><img src="https://www.stickermule.com/marketplace/embed_img/14343" style="max-width:100%;"></div></div>
        <div style="padding: 0px 0px 30px 0px;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;display:table; background-color: #fff; width:100%;">
            <div style="text-align: center; display: table-cell;"><a href="https://www.stickermule.com/marketplace/14343-import-this" style="display: inline-block;font-size: 1.2rem;padding: 17px 25px;background-color: #5ba4e6;border-radius: 6px;overflow: hidden;text-align: center;vertical-align: middle;cursor: pointer;border: none;color: #FFF;font-weight: bold;font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);letter-spacing: 0px;line-height: 1.2;-webkit-font-smoothing: antialiased;-webkit-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.15);-ms-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.15);-moz-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.15);-o-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.15);box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.15);text-decoration: none;">Get this sticker</a></div></div></div>

    <div style="position: relative; max-width: 320px; display: inline-block">
        <div style="padding: 30px 0px 0px 0px;display: table;background-color: #fff;border-top-right-radius: 4px;border-top-left-radius: 4px;text-align: center;position: relative;min-height: 65px;width: 100%;">
            <div style="display: table-cell;vertical-align: middle;"><img src="https://www.stickermule.com/marketplace/embed_img/14342" style="max-width:100%;"></div></div>
        <div style="padding: 0px 0px 30px 0px;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;display:table; background-color: #fff; width:100%;">
            <div style="text-align: center; display: table-cell;"><a href="https://www.stickermule.com/marketplace/14342-i-pep8" style="display: inline-block;font-size: 1.2rem;padding: 17px 25px;background-color: #5ba4e6;border-radius: 6px;overflow: hidden;text-align: center;vertical-align: middle;cursor: pointer;border: none;color: #FFF;font-weight: bold;font-family: 'Helvetica Neue',Helvetica, Arial, sans-serif;text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);letter-spacing: 0px;line-height: 1.2;-webkit-font-smoothing: antialiased;-webkit-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.15);-ms-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.15);-moz-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.15);-o-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.15);box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.15);text-decoration: none;">Get this sticker</a></div></div></div>

</section>

    <section class="talks">
        <h2>Talks</h2>
        {% for talk in site.data.talks %}
            <h4>{{ talk.title }}</h4>
            {% if talk.youtubeId %}
                <div class="embed-wrapper">
                <iframe width="900" height="564"
                                    src="https://www.youtube.com/embed/{{ talk.youtubeId }}"
                                    frameborder="0" allowfullscreen></iframe>
                </div>
            {% else %}
                <script async class="speakerdeck-embed"
                        data-id="{{ talk.speakerdeckId }}"
                        data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
            {% endif %}
            <p>{{ talk.description }} <a href="{{ talk.slides }}">Slides</a>.</p>
        {% endfor %}
    </section>

    <section class="about">
    <h2>About</h2>
    <p>I'm Ben Lopatin, aka bennylope. I'm co-founder, principal consultant, and lead Pythonista at <a href="https://wellfire.co">Wellfire Interactive</a>,
    a DC-based web development agency. We've been using Django to build
    successful business platform applications and beautiful web sites for over
    6 years running now.
    We love solving people's business problems with them, so if you're building or rebuilding on the web
    <a href="http://wellfireinteractive.com/contact/">contact us</a>.</p>
    <p>I also do some occassional consulting for businesses that are a little off-track
    on development projects or general product/technology strategy. That includes
    pointed Django and Python debugging.</p>
    <p>If you find yourself in the Finger Lakes give me a holler &mdash; <a href="https://twitter.com/bennylope">@bennylope</a> &mdash;
    and we'll grab a beer, or coffee, or both.</p>
    </section>
