---
published: true
layout: home
pageid: index
---
    <header class="intro">
    <h1>{{ site.title }}</h1>
    </header>

    <section class="intro">
      <blockquote>As per the latest in thought leadership, we must refocus on identifying holistic synergies 
        and productizing them for untapped markets. Specifically, synergies which can be strategically 
        leveraged to cross-pollinate innovation across organizational silos. Each silo must 
        own its vertical to allow for unfettered horizontal growth and for the development of streamlined 
        efficiencies by bubbling up organically.<br /><br />The Zen of Business Jargon</blockquote>
    </section>

    <section class="articles">
    <h2>Recent Articles</h2>
      {% for post in site.posts %}
        {% if forloop.index < 4 %}
          <h3><a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">{{ post.title }}</a></h3>
          <p class="teaser">{{ post.teaser }}</p>
        {% endif %}
      {% endfor %}
    <a href="/posts/">See the archive</a>
    </section>

    <section class="projects">
    <h2>Projects</h2>
    <dl>
      {% for project in site.data.projects %}
        <dt><a href="{{ project.url }}">{{ project.name }}</a></dt>
        <dd>{{ project.summary }}</dd>
      {% endfor %}
    </dl>
    </section>

    <section class="about">
    <h3>About</h3>
    <p>Principal and co-founder at <a
      href="http://www.wellfireinteractive.com">Wellfire
      Interactive</a>, a DC-based web development firm. We design and
    build custom web applications and web sites. I build the engines
    behind those sites.</p>
    <p>You should probably <a
      href="http://www.wellfireinteractive.com/contact/">contact us</a> if you're keen on building a solid web-application or
    designing a new site without seven layers of account managers.</p>
    </section>

