<div id="dj-book">

  <p>
  Are you a Django developer? Have you found yourself wishing you could
  reuse the code you write or looking for some guidance on building
  standalone Django apps?
  </p>
  {% comment %}
  <p>
How do you decide what and how to extract form an existing project? What are the
secrets to testing, database migrations, and handling an ever expanding
combination of Django and Python versions?
  </p>
  {% endcomment %}
  <p>

Check out my upcoming book, <a href="https://leanpub.com/standalone-django-apps">Django Standalone Apps: A developer's
fieldguide to developing reusable Django applications</a> the first guide written specifically for writing standalone apps.
  </p>

  {% comment %}
  <img src="https://s3.amazonaws.com/titlepages.leanpub.com/standalone-django-apps/large?1446252725" alt="Django Standalone Apps">
  {% endcomment %}
</div>
