<!DOCTYPE html>
<html lang="en-US" {% if page.pageid %}id="{{ page.pageid }}"{% endif %}>
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootswatch.min.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/pygments/colorful.css" type="text/css" media="screen">
    <link rel="shortcut icon" href="/images/beardo-16.png">
    {% if page.canonical %}<link rel="canonical" href="{{ page.canonical }}">{% endif %}
  </head>
  <body>
    {% if page.url != '/' %}
      <div id="banner"><a href="/">I leverage synergies &mdash; Ben Lopatin</a></div>
    {% endif %}
    {{ content }}
    <footer>
        <nav id="identities">
          <ul class="identities">
            <li><a href="http://twitter.com/bennylope" rel="nofollow"><span>Twitter</a></a></span></li>
            <li><a href="http://www.linkedin.com/in/benlopatin" rel="nofollow"><span>LinkedIn</a></a></span></li>
            <li><a href="http://bennylope.tumblr.com" rel="nofollow"><span>Tumblr</a></span></li>
            <li><a href="http://github.com/bennylope/" rel="nofollow"><span>Github</a></span></li>
          </ul>
        </nav>
        <p>Unless otherwise noted, all site content is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons License</a>. Theme based on <a href="http://thomaspark.me/">Thomas Park's</a> 'Journal' theme for Bootstrap.</p>
    </footer>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//162.243.203.34/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//162.243.203.34/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-3288725-2");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
  </body>
</html>
