---
layout: base
pageid: content
---
<article>
<h1>{{ page.title }}</h1>


{% if page.subtitle %}<h2>{{ page.subtitle }}</h2>{% endif %}

{% if page.teaser %}<aside>{{ page.teaser }}</aside>{% endif %}

{% if page.quora %}<h4>As answered on <a href="{{ page.quora }}" rel="nofollow">Quroa</a></h4>{% endif %}

{{ content }}

    <aside class="post-footer">
        Originally published {{ page.date|date: "%B %Y" }}

    </aside>

</article>


<!--{% include book.html %}-->
<p class="homeLink">
<a href="{% if page.return_link %}{{ page.return_link }}{% else %}/{% endif %}"
   title="{% if page.return_text %}{{ page.return_text }}{% else %}Return to synergy headquarters{% endif %}">
    &#8619; {% if page.return_text %}{{ page.return_text }}{% else %}Leverage more synerges{% endif %}
  </a>
</p>

