---
layout: content
---
<h2>{{ page.title }}</h2>

{% if page.quora %}<h4>As answered on <a href="{{ page.quora }}" rel="nofollow">Quroa</a></h4>{% endif %}

{{ content }}

<p>Posted {{ page.date|date: "%B %d, %Y" }} </p>

{% if page.soHelpful %}
<aside class="soHelpful">
  Looking for more help? I do weekly office hours calls with developers and start-up entreprenuers to offer a different perspective and solve problems at the intersection of technology and business. Schedule a call via <a href="http://sohelpful.me/benlopatin">soHelpful</a>.
</aside>
{% endif %}
